
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 25px 56px 25px;
  text-align: center;
  background: #000000;

  &__title {
    padding-top: 38px;
    margin: 0;
    font-weight: bold;
    font-size: $text-size14;
    line-height: $line-height22;
    color: #FEFEFE;
    text-transform: uppercase;
  }

  &__text {
    font-size: $text-size12;
    line-height: 20px;
    color: $footer-text-color;
    margin: 0;


    &-hidden {
      display: none;
    }

    &-content {
      margin: 0;
      color: $footer-text-color;
      font-size: $text-size14;
      line-height: 24px;

      &-wrap {
        margin: 0;
      }

    }

  }

}

.footer__social-links img {
  padding: 25px 4px;
}


@media (min-width: 768px) {
  .footer__title {
    font-size: $text-size16;
    line-height: $line-height22;
    margin: 0;
    padding-bottom: 22px;
    padding-top: 57px;
  }
  .footer__text {
    font-size: $text-size16;
    line-height: 28px;
    max-width: 684px;

    &-hidden {
      display: inline-block;
    }

    &-content {
      display: inline;
      margin: 0 3px;
      font-size: $text-size16;
      line-height: 26px;
    }
  }

  .footer__social-links img {
    padding-top: 37px;
    padding-bottom: 34px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-bottom: 70px;

    &__title {
      padding-top: 66px;
    }
  }
}