
a {
  cursor: pointer;
  color: $text-dark;
}

.header,
.recent-posts {
  padding: 0 25px;
}

.header__menu {
  min-height: 83px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-links {
    display: none;
  }

  &-btn {
    width: 44px;
    height: 37px;
    background-color: black;
    border: none;
    position: relative;
    padding: 0;
    outline: none;

    &-lines,
    &-lines::before,
    &-lines::after {
      position: absolute;
      width: 17px;
      height: 2px;
      background: #FFFFFF;
      top: calc(50% - 1px);
      left: calc(50% - 8.5px);
      transition: all 0.3s;
    }

    &-lines::before {
      content: "";
      top: -8px;
    }

    &-lines::after {
      content: "";
      top: 8px;
    }
  }
}

.header__menu-btn.active .header__menu-btn-lines {
  background-color: transparent;
}

.header__menu-btn.active .header__menu-btn-lines::before {
  top: 0;
  transition: all 0.2s;
  transform: rotate(45deg);
}

.header__menu-btn.active .header__menu-btn-lines::after {
  top: 0;
  transition: all 0.2s;
  transform: rotate(-45deg);
}

.header__menu-links.show {
  margin: 1px;
  position: absolute;
  top: 60px;
  display: block;
  background-color: #F5F5F5;
  text-transform: uppercase;
  padding: 0;
  box-sizing: border-box;
  min-width: 182px;
}

.menu-link {
  @include font-menu;
  padding: 4px 0 4px 13px;
  color: $text-dark;
  letter-spacing: 1.1px;
}

.menu-link.show:hover {
  background: #E5E5E5;
  cursor: pointer;
}

.header-link-active {
  color: #57A4A4;
}

.header-banner {
  background-image: url('../img/header_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 150px;
}


@media (min-width: 768px) {
  .header__menu {
    min-height: 106px;
    justify-content: space-around;

    &-btn {
      display: none;
    }

    &-links {
      display: flex;
      margin: 0;
      padding: 0;
    }
  }
  .menu-link {
    @include font-menu;
    padding: 0 17px;
    color: $text-dark;
  }
  .header-banner {
    min-height: 361px;
  }

}

@media (min-width: 1200px) {
  .header__menu {
    min-height: 118px;
  }
  .menu-link {
    @include font-menu;
    padding: 0 34px;
    color: $text-dark;
  }
  .header-banner {
    min-height: 550px;
  }

}
