
.instagram-shot {
  margin-top: 77px;
  padding: 0 25px 45px 25px;
  max-width: 1200px;

}

.instagram-shot__title {
  color: $text-dark;
  font-weight: bold;
  font-size: $text-size14;
  line-height: $line-height22;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.instagram-shot-img:nth-child(2),
.instagram-shot-img:nth-child(3),
.instagram-shot-img:nth-child(4) {
  display: none;
}

.instagram-shot__title.hidden {
  display: none;
}


@media (min-width: 768px) {

  .instagram-shot {
    margin-top: 60px;
    margin: 0 auto;

    &-img {
      width: 100%;
    }

    &__images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
    }

    &__title {
      font-size: $text-size16;
      margin: 0;
      padding: 47px 0 35px 0;

      &-box {
        display: flex;
        justify-content: space-between;
      }

      &.hidden {
        display: block;
      }
    }
  }

  .instagram-shot-img:nth-child(2),
  .instagram-shot-img:nth-child(3) {
    display: block;
  }
  .wrapper {
    margin-top: 70px;
    background: #f7f7f7;
    width: 100%;
  }

}

@media (min-width: 1200px) {
  .instagram-shot-img:nth-child(4) {
    display: block;
  }
  .instagram-shot__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}

