@import "normalize";
@import "variables";
@import "mixins";

body{
  font-family: 'Roboto', sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1250px;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}

@import "header_section";
@import "recent-posts_section";
@import "instagram-shot_section";
@import "footer_section";
